.errMsg {
  background-color: rgb(214, 10, 10);
}
.successMsg {
  background-color: rgb(9, 158, 54);
}
.errMsg,
.successMsg {
  color: #fff9;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1.3px;
}
